<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="inchoo_ticket_created">
        <observer name="inchoo_reviewMailer_observer" instance="Inchoo\ReviewMailer\Observer\SendEmail"/>
    </event>
</config>